/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset css */





/* Rangés dans l'ordre par: */
/* Id + Alphabet */
/* Class + Alphabet */
/* Balises + Alphabet */


/* ---ID--- */

/* Couleur de base du bouton de chargement de nouveau projet */
#buttonUpload {
    background: #A7A7A7;
}

/* Mise en forme des formulaires de contact et de login */
#contact, #LogIn {
	width: 34%;
    margin: auto;
}
#contact > * , #LogIn > * {
	text-align: center;
}
#contact form, #LogIn form{	
	display: flex;
	flex-direction: column;
    text-align: left;
	margin-top:30px;
}
#contact h2, #LogIn h2{
	margin-bottom: 20px;
}
#contact input, #LogIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #LogIn label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* input caché pour le dépot de l'image */
#imgFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Mise en forme de la premiere partie de la page */
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 11em;
	margin-left: 2.5em;
}
#introduction article {
	flex: 0.94
}
#introduction figure {
	flex: 1.1;	
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction p {
	margin-bottom: 0.5em;
}

/* Mise en forme de la partie "Ajouter photo" de la modale 2 */
#labelBox { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E8F1F6;
    border-radius: 3px;
    margin-bottom: 30px;
    max-height: 169px;
    overflow: hidden;
}
#labelBtn {  /* bouton "Ajouter photo" modale 2 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 14px;
    font-style: normal;    
    background: #CBD6DC;
    color: #306685;
    width: 176px;
    height: 36px;
    border: none;    
    border-radius: 50px;
    margin: 15px 0px 7px 0px;
}
#labelImg {  /* Icone paysage du cadre "Ajouter photo" */
    font-size: 60px;
    color: #B9C5CC;
    margin-top: 20px;
}
#labelMax { /* informatif sous le bouton "Ajouter photo" */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #444444;
    margin-bottom: 20px;
}

/* Modifs sur la page login */
#LogIn {
	margin-top: 162px;
}
#LoginFooter {
    position: fixed;
    width: 59%;     
    bottom: 0;       
}

/* Mise en forme des modales */
#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    color: black;
    background: white;
    border-radius: 10px;    
    width: 630px;
    height: auto;    
    padding: 50px 0px;
    z-index: 1;
}
#modalBox {    
    display: flex;
    justify-content: center;  
    position: fixed;
    top: 0;
    left: 0;
    color: red;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding-top: 90px;
    z-index: 999;
}

/* Mise en forme du message d'erreur à la connexion */
#errorMsg {
    color: #D65353;
    margin-top: 20px;
}
/* Modifs spécifiques au titre de la section Projets */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}



/* ---CLASS--- */

/* Gras sur le login de login.html */
.ABold {	
	font-weight: bold;
}

/* Croix de déplacement sur les images de la mini galerie */
.crossPop {
    display: none;
    position: absolute;
    top: 5px;    
    right: 25px;
    font-size: 12px;
    line-height: 18px;
    width: 17px;
    height: 17px;
    color: white;    
    background: black;    
    border-radius: 3px;    
}

/* Divs de modification en mode édition */
.editDiv {
    font-size: 15px;
    font-weight: 400;	
    color: black;
    width: 82px;
}
.editDiv1 {
	margin: 15px 0px 15px 2px;
    cursor: pointer;
}
.editDiv2 {
	margin-top: -140px;
    margin-left: 95px;
    cursor: pointer;
}
.editDiv3 {
    position: relative;
    left: 170px;
    bottom: -25px;    
    margin: 0 auto;
    cursor: pointer;
}

/* figcaption de la mini galerie */
.editSpan {
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: 400;
    font-style: normal;    
    text-align: left;
    margin-top: -3px; 
    color: #000;   
}

/*Centrer les boutons de filtres*/
.filtres {
	display: flex;	
	justify-content: center;
	margin: 0;	
}

/* Mise en page Modal 2 */ 
.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Mise en page de la galerie */
.gallery {
	width: 84%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: auto;
    margin-top: 20px;
}
.gallery img {
	width: 100%;
}

/* Champs de saisies de la modale 2 */
.inputUpload {
    border: none;
    height: 50px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    font-family: 'Work Sans';
    font-size: 14px;
    padding-left: 15px;
}

/* Logo Instagram */
.insta {
    width: 20px;
}

/* Mise en forme du "mdp oublié" de la page login */
.LostPass {	
    display: flex;
    justify-content: center;
	text-decoration: underline;
}

/* Mise en forme du select de la modale 2 */
.marginBottom {
    background-color: #fff;
    margin-bottom: 30px;
}

/* Mise en forme de la div en bas de la modale 1 */
.modalAddDel p {
    display: flex;
    flex-direction: column;
    color: #D65353;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

/* Flèche retour de la modale */
.modalArrow {
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 35px;
    left: 35px;
    color: black;
}

/* Barre de séparation <hr> des modales */
.modalBar {
    width: 420px;
    background: #B3B3B3;
    height: 1px;
    border: none;
}

/* Croix de fermeture des modales */
.modalCross {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 35px;
    right: 35px;
    color: black;
}

/* Galerie miniature de la modale 1 */
.modalGalerie {
    display: flex;
    flex-flow: row wrap;
    margin: 0px 90px 30px 90px;
    height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.modalGalerie::-webkit-scrollbar {
    display: none;
}

/* Titre de modale */
.modalTitre {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Work Sans';
    color: black;
    margin-bottom: 30px;
}

/* Message d'erreur d'envoi du nouveau projet */
.msgErrorUpload {
    color: rgb(139, 8, 8);
    font-family: 'Work Sans';
    font-size: 14px;
}

/* Permet le placement des icones trash et cross */
.projets {
    position: relative;
    margin: 5px;
}

/* Barre haute du mode édition */
.topBar {
    font-family: Work Sans;
    z-index: 2;
    background: black;
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

/* Corbeille de suppression d'image sur la mini galerie */
.trash {
    position: absolute;
    z-index: 0;
    right: 5px;
    top: 5px;
    width: 17px;
    height: 17px;
    color: white;
    font-size: 10px;
    background: black;
    line-height: 17px;
    border-radius: 3px;
    cursor: pointer;
}


/* ---BALISES--- */

a {
	text-decoration: none;
	color: currentColor;			
}
body {
	background-color: #FFFEF8;
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';	
	font-size:10px;
	font-weight: 400;
	letter-spacing: 0.1em;
    text-transform: uppercase;
	margin-top: 5PX;    
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
footer {
    background-color: #fff;
	text-align:right;
    height: 48px;
    width: 100%; 
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
footer li {
    cursor: pointer;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 140px 0;
}
input[class='modalAdd'], #buttonUpload{
    width: 237px;
    height: 37px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    cursor: pointer;
}
input[type="submit"] + .filtresBtn, input[value=Tous] {
    padding: 0px 10px 0px 10px;
    width: auto;
    min-width: 100px;
    height: 37px;
    margin: 20px 5px;
    border: solid 1px #1D6154;
    background-color: #FFFEF8;
    color: #1D6154;
    font-size: 16px;
    font-weight: 700;
}
input[type="submit"] + .filtresBtn:hover, input[value=Tous]:hover {
    background-color: #1D6154;
    color: #FFFEF8;
}
input[value='publier les changements'] {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    color: black;
    width: auto;
    border: none;
    padding: 11px 23px 11px 23px;
    margin: 0px 0px 0px 20px;
}
li:hover {	
	color: #B1663C;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}
section {
	margin: 50px 0;
}
[for=titre], [for=categorie] {
    text-align: left;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}


/*Non demandé pour le projet mais ca ne peut pas faire de mal de 
faire un peu de mise en forme pour que ca ressemble à quelque chose*/

@media (max-width: 640px) {

    header {
	    display: flex;
        flex-direction: column;
	    justify-content: center;
        align-items: center;
	    margin:30px auto 60px;
    }
    h1 {
        margin-bottom: 30px;
    }
    input[type="submit"] + .filtresBtn, input[value=Tous] {
        padding: 0px 10px 0px 10px;
        margin:  5px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        min-width: 65px;        
    }    
    main {
		width: 90%;
        margin: auto;
	}
    #contact, #LogIn {
        width: 60%;
        margin: auto;
    }
    #introduction {
        flex-direction: column;
        justify-content: center;         
        width: 90%;        
        margin: auto;
    }
    #introduction article {         
        margin-top: 60px;               
    }
    #introduction article br {
        display: none;
    }    
    #introduction h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 0.7em;                            
    }
    #introduction img {  
        margin: 0;                     
        width: 100%;        
    }
    #introduction p {
        margin-bottom: 0.5em;
    }
    #modal {
        width: 90%;
        height: 70%;
        justify-content: flex-start;
        padding: 30px 0 0 0;
        margin: 0;
    }
    .editDiv1 {
        margin: -50px 0px 20px 0px;
    }
    .editDiv2 {        
        margin-top: 0px;
        margin-left: 28px;        
    }
    .editDiv3 {
        position: relative;
        bottom: -25px;
        left: 170px;
        margin: 0 auto;
    }   
    .filtres {
        flex-wrap: wrap;        
    }    
    .gallery {
        width: 90%;
    }
    .modalBar {
        width: 80%;
    }
    .modalGalerie {
        justify-content: flex-start;
        margin: 0 37px;
        height: 300px;
    }
    .modalPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .modalPage form {
        width: 90%;
    }
}